@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body {
	background-color: #fafafa;
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Nunito Sans', sans-serif;*/
}

.nav-content {
	display: flex;
	justify-content: space-between;
}

.nav-color {
	background-color: #5f788a;
	/*background-color: #087990;*/
}

.navbar-brand, .navbar-nav .nav-link {
	color: #ffffff;
}

.form-content, .profile-content {
	background-color: #ffffff;
	border-radius: 10px;
	font-weight: 600;
}

.button-style {
	background-color: #5f788a;
	color: #ffffff;
    font-weight: 600;
}

.divider {
	height: 1px;
	background-color: #dddddd;
	margin-bottom: 3vh;
}

.alert {
	font-weight: 600;
}

.profile {
	display: flex;
}

.profile-pic {
	flex: 1;
}

.profile-info {
	flex: 4;
}

.pic {
	border-radius: 50%;
}

.edit-profile-btn {
	background-color: #ffffff;
	color: #5f788a;
	border: none;
	padding: 0px;
}

.job-card {
	background-color: #ffffff;
}

.desc {
	color: #555555;
	font-size: 18px;
	/*overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	-webkit-line-clamp: 2; 
           line-clamp: 2; 
   	-webkit-box-orient: vertical;*/
   	font-weight: 500;
}

.f-18 {
	font-size: 18px;
}

.bottom {
	display: flex;
	justify-content: space-between;
}

.view-details, #view-resume {
	text-decoration: none;
	color: #5f788a;
}

#view-resume : hover {
	cursor: pointer;
}

#date {
	color: #757575;
}

.job-role {
	text-decoration: none;
	color: #101010;
	font-weight: 600;
	font-size: 20px;
}

.progress-bar {
	height: 10px;
	background-color: #cccccc;
}

.strength {
	background-color: #5f788a;
	height: 100%;
}

.your-applications {
	border-left: 1px solid #eeeeee;
}

.status, .image, .empty, .applicant-profile-pic {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.w-500 {
	font-weight: 500;
}

a {
	text-decoration: none;
	font-size: 16px;
}

.link-active {
	color: #ffffff;
	font-weight: 600;
}

.link-inactive {
	color: #000000;
}

.menu-item:hover {
	cursor: pointer;
}

.menu-item-active {
	background-color: #5f788abb;
	color: #ffffff;
}

.sec-text {
	color: #616161;
}