{% extends 'layout.html' %}
{% block content %}
<div class="container bg-white p-3 col-md-6">
	<h4>Applicants - {{ job.role }}</h4>
	<div class="divider"></div>
	{% for applicant in applicants %}
		<div class="applicant-tile row my-4">
			<div class="applicant-profile-pic col-md-2">
				<img class="pic" src="{{ url_for('static', filename='profile_pictures/'+applicant['profile_picture']) }}" width="100%" height="100%" >
			</div>
			<div class="applicant-info col-md-6">
				<h5><b>{{ applicant['name'] }}</b></h5>
				<p class="text-muted">{{ applicant['email'] }} - {{ applicant['age'] }}</p>
				<a id="view-resume" target="_blank" href="{{ url_for('static', filename='resumes/' + applicant['resume']) }}">View Resume</a>
			</div>
			<div class="col-md-4">
				<div class="progress-bar">
					<div class="strength" style="width:{{applicant['strength']}}%;"></div>
				</div>
				<p>{{applicant['strength']}} %</p>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock content %}