{% extends 'layout.html' %}
{% block content %}
<div class="container col-md-6 mt-5">
	{% for job in jobs %}
		<div class="job-card p-3">
			<h4><b><a class="job-role" href="#">{{ job.role }}</a><b></h4>
			<p class="desc">{{ job.job_desc }}</p>
			<div class="bottom">
				<div>
					<span><b>Deadline: </b></span>
					<span id="date">{{ job.deadline.strftime('%Y-%m-%d') }}</span>
				</div>
				<div>
					<a class="view-details" href="{{ url_for('position', job_id = job.id) }}">View Details</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>	
{% endblock content %}