{% extends 'layout.html' %}
{% block content %}
<div class="container col-md-8 mt-3">
	<div class="row">
		<div class="col-md-8 p-3 bg-white">
			<h4><b>{{ job.role }}</b></h4>
			<br/>
			<h5><b>Job Description</b></h5>
			<div class="divider"></div>
			<p class="f-18">
				{{ job.job_desc }}
			</p>
			<br/>
			<h5><b>Skills Required</b></h5>
			<div class="divider"></div>
			<p class="f-18">
				{{ job.skills_required }}
			</p>
			<br/>
			<p class="f-18">Salary - <b>{{ job.salary }}</b></p>	
			<p class="f-18">Total applications - <b>{{ num_applicants }}</b></p>	
			<p class="f-18">Last date to apply is <b> {{ job.deadline.strftime("%d %B, %Y") }}</b></p>
		</div>
		<div class="col-md-4">
			{% if current_user.is_admin == True %}
			<a href="{{ url_for('applicants', job_id = job.id) }}" class="btn button-style">View Applicants</a>
			{% else %}
				{% if current_user not in job.applicants %}
					<button class="btn button-style" data-bs-toggle="modal" data-bs-target="#applyModal">
						Apply Now
					</button>
				{% else %}
					<h5>You have already applied for this position!</h5>
					<br/>
					<br/>
					<div class="status">
						{% if status == 'Shortlisted' %}
							<img src="{{ url_for('static', filename='images/success.svg') }}" width="80%">
							<p class="f-18"><b>Congratulations!! You are shortlisted for this position.</b></p>
						{% else %}
							<img src="{{ url_for('static', filename='images/pending.svg') }}" width="80%">
							<p class="f-18"><b>Your application is under evaluation!</b></p>
						{% endif %}
					</div>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>	

<!-- Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="applyModalLabel"><b>Are you sure you want to apply for this role?</b></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         Your current resume will be evaluated for shortlisting. Please make sure you to check your resume before proceeding.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{{ url_for('apply', job_id = job.id) }}" method="POST">
        	<input type="submit" class="btn btn-primary"  value="Apply" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}