{% extends 'layout.html' %}
{% block content %}
<div class="container col-md-6 mt-5 p-3 shadow-sm form-content">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<h5><b>Add New Position</b></h5>
		<div class="divider"></div>
		<div class="mb-3">
			{{ form.role.label(class="form-label") }}
			{{ form.role(class="form-control") }}
		</div>	
		<div class="mb-3">
			{{ form.job_desc.label(class="form-label") }}
			{{ form.job_desc(class="form-control", rows="7") }}
		</div>
		<div class="mb-3">
			{{ form.skills_required.label(class="form-label") }}
			{{ form.skills_required(class="form-control", rows="7") }}
		</div>
		<div class="mb-3">
			{{ form.work_location.label(class="form-label") }}
			{{ form.work_location(class="form-control") }}
		</div>
		<div class="mb-3 row">
			<div class="col-md-6">
				{{ form.salary.label(class="form-label") }}
				{{ form.salary(class="form-control") }}
			</div>
			<div class="col-md-6">
				{{ form.deadline.label(class="form-label") }}
				{{ form.deadline(class="form-control") }}
			</div>
		</div>
		<div class="mb-3">
			{{ form.submit(class="btn button-style") }}
		</div>
	</form>
</div>

{% endblock content %}